html {
  font-family: "Opens Sans", sans-serif;
}

.title-line {
  display:flex;
  flex-direction:row;
  align-items: center;
}

.title {
  flex-grow: 0;
}


.line {
  flex-grow:1;
  height: 1px;
  background-color: #fff;
}
